.container{
    display:'flex';
    height: 120vh;
    flex-direction: column;
    background-color:#BFD2F8;
    
}

.formContainer{
   
    display: 'flex';
    flex: 1; 
    justify-content: 'center';
    align-items: 'center' 
}

.form{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 50%;
    align-items: center;
    background-color: rgb(189, 25, 25);

    
}

.footerContainer{
    background-color: 'black';
    color: 'white';
    text-align: 'center';
    padding: '10px';  

}

.mensagemLogin{
    color: black;
    text-shadow: blue;
    text-align: center;
    padding: 10%;
    font-size:xx-large;
    font-weight:bold;
    
}

.usuario{

    /* border-radius: 10px;
    border: 1px solid black;
    padding: 10px; */
    color: black;
    font-weight: bold;

}

.senha{

    /* border-radius: 10px;
    border: 1px solid black;
    padding: 10px; */
    color: black;
    font-weight: bold;

}



    /* INput */

    .inputContainer {
        position: relative;
        margin-bottom: 1.5rem;   
    }
    
    .inputPlaceholder {
        position: absolute;
        top: 50%;
        left: 10px; /* ou qualquer valor que você preferir para o espaçamento à esquerda */
        transform: translateY(-50%);
        transition: top 0.3s, font-size 0.3s; /* Adiciona transição para suavizar a mudança de posição e tamanho */
        pointer-events: none; /* Permite que cliques passem através do elemento */
        color: #606060;
        
    }
    
    .inputField {
        padding: 10px; /* Ajuste conforme necessário para o espaçamento interno do campo de entrada */
        z-index: 1; /* Garante que o campo de entrada está acima do texto do placeholder */
        outline: none;
        border-radius: 1rem;
        width: 20rem;
        

    }
    
    .inputField:focus + .inputPlaceholder,
    .inputField:not(:placeholder-shown) + .inputPlaceholder {
        top: 0;
        font-size: 12px; /* ou qualquer tamanho que você preferir para o texto acima do placeholder */
    }