.fundo{
    background-color: #fff;
    padding: 2rem 15rem 2rem 15rem;
}

.lousapequena{
    display: flex;
    background-color: #1c2c6c;
    width: 100%;
    font-size: 2rem;
    justify-content: center;
    font-family: Work Sans;
    color: #bfd2f8;
}

.lousaFixo{
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 10rem;
    background-color: #1c2c6c;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
 }

 .lousaDados{
    display: flex;
    background-color: #1c2c6c;
    width: 100%;
    height: auto;
 }

.button:hover{
    background-color:#bfd2f8;
    color: #1c2c6c;
    border-radius: 1.5rem;
}

.coluna1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 9rem;
    padding-bottom: 2rem;
}

.coluna2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1c2c6c;
}