.container{
    display:'flex';
    height: 120vh;
    background-color:#BFD2F8;
    flex-direction: column;
    height: max-content;
    text-align: center;
    border:2px solid black;
   
  
    
}

.infos{
    color: black;
    font-weight: bold;
    align-items: center;

}

.text1{
    color: black;
    text-shadow: blue;
    text-align: center;
    padding: 5px;
    font-size:x-large;
    font-weight:bold;
    
}

.text2{
    color: black;
    text-shadow: blue;
    text-align: center;
    padding: 5px;
    font-size:large;
    font-weight:bold;
    
}
.button{
    text-align:center;
    background-color: red;
    padding:2px;
    margin:2px;

}