.container{
    display:'flex';
    height: 120vh;
    background-color:#BFD2F8;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.infos{
    color: black;
    font-weight: bold;
    align-items: center;

}

.text1{
    color: black;
    text-shadow: blue;
    text-align: center;
    padding: 5px;
    font-size:x-large;
    font-weight:bold;
    
}

.text2{
    color: black;
    text-shadow: blue;
    text-align: center;
    padding: 5px;
    font-size:large;
    font-weight:bold;
    
}
.exameInputContainer{
    text-align: center;
}
.btn{
    background-color:#1F2B6C;
    width:100px;
    padding: 10px;
    margin-bottom: 2rem

}
.addExamBtn{
    font-weight:bold;
    color:#1F2B6C;
    margin-right:2rem;
}